body{
    background-color: rgb(241, 250, 238);
}
h1,h2 {
    color: olivedrab;
}
h1{
    font-size: 30px;
}
span{
    color:rgb(69, 123, 157);
}
section a{
    text-decoration: none;
    font-weight: bold;
}
h2{
    font-size:25px;
}
.tag{
    color:white;
    background-color: red;
    font-size:15px;
}
section:nth-of-type(2n){
    background-color: rgb(223, 232, 220);
}
section>button{
    background-color:pink;
}
nav button{
    font-size: 25px;
    background-color:rgb(231, 47, 215);
}
#signup{
    color:white;
}
input[type="password"]{
    color:greenyellow;
}
p::first-line{
    color:purple;
}
p::selection{
    background-color:yellow;
}
ul a{
    color:red;
}
ul li:nth-of-type(4)>a{
    color: black;
}
footer>a{
    color:aquamarine;
}
.post button:hover{
    color:white;
    cursor: pointer;
}
.post a:hover{
    text-decoration: underline;
}