body {
  height:100vh;
  font-family: 'Roboto', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #151b29;
}
button{
  background-color: #151b29;
  color:orange;
  border: 2px solid orange;
  padding:1em 2em;
  font-size: 1em;
}
button:hover{
  color:white;
  border:2px solid yellow;
  cursor:pointer;
  transform: translateY(-0.3em);
  transition: 0.2s;
  box-shadow: 0em 0.5em 0.5em -0.3em yellow;
}