
html{
    font-size: 12px;;
}
body{
    margin:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}
p{
    font-size: 1.5em;
}
#container{
    width:40%;
    /* height: 80%; */
    background-color: beige;
    border:1px solid black;
}
.subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#scoreInfo>div{
    width:100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#keepScore{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
select{
    box-sizing: border-box;
    display: block;
    text-align: center;
    border-radius: 1em;
    margin-left:1em;
    /* width: 7%; */
    padding: 0.5em;
    /* height: 100%; */
}
button{
    box-sizing: border-box;
    width:calc(100%/3);
    height: 5em;
    padding:1.5em;
}
#scoreBtns{
    flex-direction: row;
    justify-content: center;
}
#scoreHeading{
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px;
}
#p1Btn{
    background-color: rgb(0, 196, 167);
}
#p2Btn{
    background-color:rgb(39, 147, 218) ;
}
#reset{
    background-color: rgb(240, 58, 95);
}
img{
    height: 30vh;
    width:100%;
}